@model IEnumerable<FinalProgIII.Models.Clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   <thead>
       <tr>
           <th>Nombre</th>
           <th>Direccion</th>
           <th>Email</th>
           <th>Telefono</th>
       </tr>
   </thead>
   

@foreach (var item in Model) {
   <tbody>
       <tr>
           <td>@item.Nombre</td>
           <td>@item.Direccion</td>
           <td>@item.Email</td>
           <td>@item.Telefono</td>
           <td>
               @Html.ActionLink("Edit", "Edit", new { id = item.ClientesID }) |
               @Html.ActionLink("Details", "Details", new { id = item.ClientesID }) |
               @Html.ActionLink("Delete", "Delete", new { id = item.ClientesID })
           </td>
       </tr>
   </tbody>
}

</table>
